<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phoneofriends">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_phoneofriends"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_phoneofriends"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.Activity.DetailsInfoActivity"></activity>
        <activity android:name=".View.Activity.ProfileActivity" />
        <activity android:name=".View.Activity.GroupChatBoardActivity" />
        <activity android:name=".View.Activity.SingleChatBoardActivity" />
        <activity android:name=".View.Activity.GroupChatActivity" />
        <activity android:name=".View.Activity.SingleChatActivity" />
        <activity android:name=".View.Activity.HomeActivity" />
        <activity android:name=".View.Activity.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activity.SignUpActivity" />
    </application>

</manifest>